* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $colorNeutralLight;
    background: $colorPrimary;
    overflow-x: hidden;
}

// scrollbar customisation
::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;

    @include breakpoint-down(mobile-lg) {
        display: none;
    }
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba($colorNeutralMid, 0.2);
    border-radius: 1px;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.btn {
    border: none;
    padding: 1rem 2rem;
    display: inline-block;
    background-color: $colorSecondary;
    color: $colorPrimaryDark;
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-weight: 600;
}

.img-container {
    display: block;

    &.h {
        img {
            height: 100%;
        }
    }

    &.w {
        img {
            width: 100%;
        }
    }
}

.copy {
    font-size: 0.875rem;
    color: $colorNeutralMid;
    line-height: 1.7;
}

.section {
    width: 95%;
    margin: 5rem auto;

    @include breakpoint-down(mobile) {
        width: 100%;
        margin: 3rem auto;
    }

    & h2.heading {
        color: $colorNeutralLight;
        text-align: center;
        margin: 0 auto 1.5rem auto;
        position: relative;
        width: fit-content;
        font-weight: 300;
    }
}

.header.sub-page {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 1rem 3rem;
    height: 30vh;
    background-color: rgba($colorAccent, 0.8);

    .heading {
        font-size: clamp(2rem, -0.8148rem + 5.9259vw, 5rem);
    }
}


// navbar styles
.brandname {
    a {
        color: $colorAccent;
        font-size: 1.5rem;
        font-family: 'Courier New', Courier, monospace;

        span {
            color: $colorNeutralLight;
        }
    }
}

.navbar {
    padding: 1rem 2rem;
    position: sticky;
    top: 0;
    background-color: $colorPrimaryDark;
    z-index: 100;

    .socials {
        text-align: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgba($colorPrimaryDark, 0.9);
        border-bottom-left-radius: 0.25rem;

        .social {
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }


        .img-container {
            width: 1.5rem;
        }
    }

    .links-container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .links {
            display: flex;
            align-items: center;

            @include breakpoint-down(tablet) {
                text-align: right;
                padding: 3rem;
                position: absolute;
                top: 4.5rem;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100vh;
                background-color: $colorPrimaryDark;
                z-index: 150;
                display: none;

                &.open {
                    display: block;
                }
            }

            .link {
                font-size: 0.875rem;

                @include breakpoint-down(tablet) {
                    font-size: 1.25rem;
                }

                &.big {
                    font-size: 1rem;
                    font-weight: 600;

                    @include breakpoint-down(tablet) {
                        font-size: 1.75rem;
                    }
                }

                &:not(:last-child) {
                    margin-right: 1rem;

                    @include breakpoint-down(tablet) {
                        margin-right: 0;
                        margin-bottom: 1rem;
                    }
                }

                a {
                    color: $colorNeutralMid;
                    transition: all 0.3s;

                    &:hover {
                        color: $colorAccent;
                    }
                }
            }
        }
    }

    .hamburger {
        padding: 0.5rem;
        background-color: transparent;
        transition: all 0.75s;
        display: none;

        @include breakpoint-down(tablet) {
            display: block;
        }

        span {
            display: block;
            height: 4px;
            width: 2rem;
            background-color: $colorSecondary;
            border-radius: 1rem;

            &:not(:last-child) {
                margin-bottom: 0.375rem;
            }
        }

    }
}

// footer styles 
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: $colorPrimaryLight;

    @include breakpoint-down(mobile-lg) {
        flex-direction: column;
    }

    .brandname {
        opacity: 0.6;

        &:hover {
            opacity: 0.9;
        }

        a {
            font-size: 0.875rem;
        }
    }

    .copy {
        text-align: center;

        @include breakpoint-down(mobile-lg) {
            margin-bottom: 2rem;
        }
    }

    .socials {
        display: flex;
        align-items: center;

        .social {
            width: 1.75rem;
            opacity: 0.6;
            transition: all 0.2s;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            &:hover {
                opacity: 0.9;
            }
        }
    }
}