$colorPrimary: #0D1116;
$colorPrimaryLight: #111823;
$colorPrimaryDark: #0C1014;

$colorSecondary: #3BD7F3;

$colorAccent: #00FAA7;

$colorNeutralLight: #eee;
$colorNeutralMid: #ccc;
$colorNeutralDark: #111;