.about-section {
    .copy {
        width: 60%;
        margin: auto;

        @include breakpoint-down(mobile-lg) {
            width: 80%;
        }

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }
}