.header.home {
    background: linear-gradient(to bottom, $colorPrimaryLight, $colorPrimary);
    // overflow-x: hidden;

    .container {
        width: 95%;
        margin-left: auto;
        margin-right: 1rem;
        display: flex;
        align-items: stretch;
        height: 80vh;
        padding: 1rem;

        @include breakpoint-down(tablet) {
            flex-direction: column;
            width: 100%;
        }

        .left {
            flex: 1;
            padding-right: 2rem;
            align-self: center;

            @include breakpoint-down(tablet) {
                order: 1;
                margin-top: 1rem;
                padding: 0;
            }

            .heading {
                margin-bottom: 2rem;

                .main {
                    font-size: clamp(2rem, -0.8148rem + 5.9259vw, 5rem);
                    line-height: 1.2;
                    margin-bottom: 1rem;

                    span {
                        color: $colorSecondary;
                    }
                }

                .sub {
                    font-size: clamp(0.875rem, 0.8009rem + 0.3704vw, 1.125rem);
                    font-weight: 400;
                    color: $colorNeutralMid;
                    line-height: 1.6;
                    width: 80%;

                    @include breakpoint-down(mobile-md) {
                        width: 100%;
                    }
                }
            }

            .learn-more {
                padding: 1.25rem 4rem;
                font-size: 1rem;

                @include breakpoint-down(laptop) {
                    padding: 1rem 3.5rem;
                }

                @include breakpoint-down(tablet) {
                    padding: 1rem 3rem;
                }

                @include breakpoint-down(mobile-md) {
                    padding: 0.875rem 2rem;
                    font-size: 0.875rem;
                }
            }
        }

        .right {
            flex: 1;
            border-radius: 0.25rem;
            transform: rotate(10deg);
            overflow: hidden;
            // height: 100%;
            // width: 100%;
            background-image: linear-gradient(to bottom, rgba($colorPrimaryLight, 0.6), rgba($colorPrimary, 0.6)), url(../../images/fly-d-zAhAUSdRLJ8-unsplash.jpg);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            @include breakpoint-down(tablet) {
                transform: rotate(0deg);
            }
        }
    }
}

.services {

    &-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
        // gap: 1rem;

        .service {
            padding: 3rem;
            background-color: $colorPrimaryLight;
            border-radius: 0.25rem;
            margin: 0.5rem;

            .img-container {
                width: 5rem;
                background-color: rgba($colorSecondary, 0.04);
                border-radius: 0.25rem;
                padding: 1rem;
            }

            .heading {
                margin: 1rem 0 1.5rem 0;
            }
        }
    }
}

.why-us {
    display: flex;
    align-items: stretch;
    width: 95%;
    margin-left: auto;
    margin-right: auto;

    @include breakpoint-down(tablet) {
        display: block;
        width: 100%;
    }

    .left {
        flex: 1;
        background-image: url(../../images/mika-baumeister-J5yoGZLdpSI-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 3rem;
        border-radius: 0.25rem;
        overflow: hidden;

        @include breakpoint-down(tablet) {
            height: 40vh;
            margin: 3rem 1rem 2rem 1rem;
        }
    }

    .right {
        flex: 1;

        @include breakpoint-down(tablet) {
            flex: 1;
            padding: 0 1rem;
        }

        .heading {
            margin-bottom: 1rem;
            width: 80%;

            @include breakpoint-down(tablet) {
                width: 100%;
            }

            .sub {
                font-weight: 300;
            }
        }

        .copy {
            width: 80%;

            @include breakpoint-down(tablet) {
                width: 100%;
            }

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }

        .points {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
            gap: 1rem;
            margin-top: 2rem;

            .point {

                .img-container {
                    display: grid;
                    place-content: center;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 0.25rem;
                    margin-bottom: 0.5rem;
                    background-color: rgba($colorSecondary, 0.1);

                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                p {
                    font-weight: 600;
                    color: $colorNeutralMid;
                }
            }
        }
    }
}

.metrics {
    background: linear-gradient(to right bottom, $colorPrimaryLight, $colorPrimary);
    border-radius: 0.25rem;
    padding: 3rem 2rem;
    display: flex;
    justify-content: space-around;

    @include breakpoint-down(tablet) {
        width: unset;
        display: grid;
        place-content: center;
        margin: 0 1rem;
        padding: 3rem 1rem;
    }

    .metric {
        display: flex;
        align-items: center;
        margin-left: 1rem;

        @include breakpoint-down(tablet) {
            margin-left: 0;
        }

        &:not(:last-child) {
            border-right: 1px solid $colorSecondary;
            padding-right: 2rem;

            @include breakpoint-down(tablet) {
                border-right: none;
                border-bottom: 1px solid $colorSecondary;
                // border: none;
                padding-right: 0;
                padding-bottom: 1rem;
                margin-bottom: 2rem;
            }
        }

        .count {
            font-weight: 900;
            font-size: clamp(2.5rem, 1.9074rem + 2.963vw, 4.5rem);
            color: $colorSecondary;
            margin-right: 1rem;
        }

        .item {
            font-size: clamp(0.875rem, 0.7639rem + 0.5556vw, 1.25rem);
            font-weight: 300;
        }
    }
}

.testimonials {

    @include breakpoint-down(tablet) {
        padding: 0 1rem;
    }

    &-container {
        display: flex;
        overflow-x: scroll;
        padding-bottom: 0.5rem;

        .testimonial {
            min-width: 20rem;
            padding: 2rem;
            background-color: $colorPrimaryLight;
            border-radius: 0.25rem;

            @include breakpoint-down(mobile-md) {
                min-width: 85%;
            }

            &:not(:last-child) {
                margin-right: 1rem;
            }

            .name {
                font-weight: 700;
                margin-top: 0.5rem;
            }
        }
    }

}